In [17]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [18]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Albany,1,US,2021-03-19 22:49:55,32,42.6001,-73.9662,36.00,5.75
1,1,Kanashevo,90,RU,2021-03-19 22:52:32,100,55.2169,62.0634,24.80,4.47
2,2,Lompoc,90,US,2021-03-19 22:51:41,82,34.6391,-120.4579,60.80,12.66
3,3,Ushuaia,75,AR,2021-03-19 22:50:52,57,-54.8000,-68.3000,50.00,25.32
4,4,Nemuro,0,JP,2021-03-19 22:52:32,74,43.3236,145.5750,27.61,10.80

In [19]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [20]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
gmaps

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [22]:
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
6,6,Honiara,8,SB,2021-03-19 22:52:33,63,-9.4333,159.9500,86.22,3.22
9,9,Rikitea,94,PF,2021-03-19 22:50:54,76,-23.1203,-134.9692,80.98,13.00
14,14,Saint George,1,US,2021-03-19 22:52:08,23,37.1041,-113.5841,75.00,6.91
20,20,Kavaratti,5,IN,2021-03-19 22:52:35,71,10.5669,72.6420,82.51,8.79
23,23,Hithadhoo,100,MV,2021-03-19 22:51:17,72,-0.6000,73.0833,82.78,10.87
25,25,Letlhakane,60,BW,2021-03-19 22:52:36,42,-21.4167,25.5833,75.76,8.55
31,31,Luanda,75,AO,2021-03-19 22:52:05,83,-8.8368,13.2343,80.60,8.05
34,34,Kieta,100,PG,2021-03-19 22:52:37,65,-6.2167,155.6333,85.10,1.83
38,38,Manali,40,IN,2021-03-19 22:52:38,83,13.1667,80.2667,75.20,6.20
40,40,Dingle,42,PH,2021-03-19 22:50:59,89,10.9995,122.6711,78.44,7.20

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
6,6,Honiara,8,SB,2021-03-19 22:52:33,63,-9.4333,159.9500,86.22,3.22
9,9,Rikitea,94,PF,2021-03-19 22:50:54,76,-23.1203,-134.9692,80.98,13.00
14,14,Saint George,1,US,2021-03-19 22:52:08,23,37.1041,-113.5841,75.00,6.91
20,20,Kavaratti,5,IN,2021-03-19 22:52:35,71,10.5669,72.6420,82.51,8.79
23,23,Hithadhoo,100,MV,2021-03-19 22:51:17,72,-0.6000,73.0833,82.78,10.87
25,25,Letlhakane,60,BW,2021-03-19 22:52:36,42,-21.4167,25.5833,75.76,8.55
31,31,Luanda,75,AO,2021-03-19 22:52:05,83,-8.8368,13.2343,80.60,8.05
34,34,Kieta,100,PG,2021-03-19 22:52:37,65,-6.2167,155.6333,85.10,1.83
38,38,Manali,40,IN,2021-03-19 22:52:38,83,13.1667,80.2667,75.20,6.20
40,40,Dingle,42,PH,2021-03-19 22:50:59,89,10.9995,122.6711,78.44,7.20

In [31]:
preferred_cities_df.count()

City_ID       163
City          163
Cloudiness    163
Country       163
Date          163
Humidity      163
Lat           163
Lng           163
Max Temp      163
Wind Speed    163
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
6        Honiara      SB     86.22  -9.4333  159.9500
9        Rikitea      PF     80.98 -23.1203 -134.9692
14  Saint George      US     75.00  37.1041 -113.5841
20     Kavaratti      IN     82.51  10.5669   72.6420
23     Hithadhoo      MV     82.78  -0.6000   73.0833
25    Letlhakane      BW     75.76 -21.4167   25.5833
31        Luanda      AO     80.60  -8.8368   13.2343
34         Kieta      PG     85.10  -6.2167  155.6333
38        Manali      IN     75.20  13.1667   80.2667
40        Dingle      PH     78.44  10.9995  122.6711

In [55]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [56]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Honiara,SB,86.22,-9.4333,159.9500,Heritage Park Hotel
9,Rikitea,PF,80.98,-23.1203,-134.9692,Pension Maro'i
14,Saint George,US,75.00,37.1041,-113.5841,Best Western Plus Abbey Inn
20,Kavaratti,IN,82.51,10.5669,72.6420,Hotels in Lakshadweep Islands
23,Hithadhoo,MV,82.78,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...
554,Kuantan,MY,77.00,3.8077,103.3260,Hotel Sentral Kuantan
557,Neiafu,TO,84.20,-18.6500,-173.9833,Mystic Sands
563,Abu Dhabi,AE,75.20,24.4667,54.3667,Ramee Garden Hotel Apartments
565,Paratinga,BR,79.52,-12.6906,-43.1842,Pousada Magalhães 2
566,Aquidauana,BR,75.94,-20.4711,-55.7872,HOTEL ARARAS

In [46]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [60]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))