## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,78.91,37,0,4.09,clear sky
1,1,Riviera Beach,US,26.7753,-80.0581,68.00,73,40,18.41,scattered clouds
2,2,Harper,LR,4.3750,-7.7169,78.62,86,100,5.46,overcast clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,46.40,76,40,28.77,scattered clouds
4,4,Yellowknife,CA,62.4560,-114.3525,8.60,61,40,18.41,scattered clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
print("What is your minimum temperature preference?")
min_temp = float(input("min_temp: "))

print("What is your maximum temperature preference?")
max_temp = float(input("max_temp: "))

What is your minimum temperature preference?
min_temp: 75
What is your maximum temperature preference?
max_temp: 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,78.91,37,0,4.09,clear sky
2,2,Harper,LR,4.3750,-7.7169,78.62,86,100,5.46,overcast clouds
9,9,Rikitea,PF,-23.1203,-134.9692,80.15,72,73,5.86,broken clouds
10,10,Butaritari,KI,3.0707,172.7902,82.45,79,79,17.34,light rain
14,14,Georgetown,MY,5.4112,100.3354,80.60,88,20,3.44,few clouds
...,...,...,...,...,...,...,...,...,...,...
637,637,Kulhudhuffushi,MV,6.6221,73.0700,83.25,66,69,6.31,broken clouds
640,640,Pozo Colorado,PY,-23.4923,-58.7972,77.67,75,98,1.77,overcast clouds
641,641,Negara,ID,-8.3151,114.6025,82.22,71,4,1.66,clear sky
647,647,Gold Coast,AU,-28.0000,153.4333,79.00,94,75,21.85,heavy intensity rain
652,652,Bridgetown,BB,13.1000,-59.6167,78.80,57,40,14.97,scattered clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna()
clean_preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,78.91,37,0,4.09,clear sky
2,2,Harper,LR,4.3750,-7.7169,78.62,86,100,5.46,overcast clouds
9,9,Rikitea,PF,-23.1203,-134.9692,80.15,72,73,5.86,broken clouds
10,10,Butaritari,KI,3.0707,172.7902,82.45,79,79,17.34,light rain
14,14,Georgetown,MY,5.4112,100.3354,80.60,88,20,3.44,few clouds
...,...,...,...,...,...,...,...,...,...,...
637,637,Kulhudhuffushi,MV,6.6221,73.0700,83.25,66,69,6.31,broken clouds
640,640,Pozo Colorado,PY,-23.4923,-58.7972,77.67,75,98,1.77,overcast clouds
641,641,Negara,ID,-8.3151,114.6025,82.22,71,4,1.66,clear sky
647,647,Gold Coast,AU,-28.0000,153.4333,79.00,94,75,21.85,heavy intensity rain
652,652,Bridgetown,BB,13.1000,-59.6167,78.80,57,40,14.97,scattered clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Busselton,AU,78.91,clear sky,-33.6500,115.3333,
2,Harper,LR,78.62,overcast clouds,4.3750,-7.7169,
9,Rikitea,PF,80.15,broken clouds,-23.1203,-134.9692,
10,Butaritari,KI,82.45,light rain,3.0707,172.7902,
14,Georgetown,MY,80.60,few clouds,5.4112,100.3354,
15,Puerto Ayora,EC,81.00,overcast clouds,-0.7393,-90.3518,
19,Mazatlan,MX,77.00,clear sky,23.2167,-106.4167,
22,Avarua,CK,84.20,few clouds,-21.2078,-159.7750,
23,El Vigia,VE,76.05,scattered clouds,8.6219,-71.6506,
27,Vaini,TO,86.00,scattered clouds,-21.2000,-175.2000,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotels_names = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = clean_hotels_names.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Busselton,AU,78.91,clear sky,-33.6500,115.3333,Observatory Guest House
2,Harper,LR,78.62,overcast clouds,4.3750,-7.7169,Screensaver
9,Rikitea,PF,80.15,broken clouds,-23.1203,-134.9692,Pension Maro'i
10,Butaritari,KI,82.45,light rain,3.0707,172.7902,Isles Sunset Lodge
14,Georgetown,MY,80.60,few clouds,5.4112,100.3354,Cititel Penang
...,...,...,...,...,...,...,...
637,Kulhudhuffushi,MV,83.25,broken clouds,6.6221,73.0700,Haajy Guest House 1
640,Pozo Colorado,PY,77.67,overcast clouds,-23.4923,-58.7972,Hospedaje la Amistad
641,Negara,ID,82.22,clear sky,-8.3151,114.6025,Villa Maya West Bali
647,Gold Coast,AU,79.00,heavy intensity rain,-28.0000,153.4333,Mantra Towers of Chevron Surfers Paradise
652,Bridgetown,BB,78.80,scattered clouds,13.1000,-59.6167,Hilton Barbados Resort

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))